body
  font-family: 'Graphik Regular'
  font-weight: 400
  overflow: hidden

main
  background-color: $white

// h1
//   font-family: ''
//   font-size: 
//   color: 

h2
  font-family: 'Graphik Bold'
  font-size: 1.4rem
  color: $black
  text-transform: uppercase
  margin-bottom: 3rem
  padding-top: 4px

h3
  font-family: 'Graphik Medium'
  font-size: 0.8rem
  color: $black
  text-transform: uppercase

p, li
  font-family: 'Graphik Light'
  font-weight: 400
  font-size: 0.8rem
  color: $black
  line-height: 28px

ul
  list-style: none
  padding-left: 0

a
  color: unset
  text-decoration: none
